body{
    background: linear-gradient(to right, #074980, #79d3df);
}

h1{
    text-align: center;
    border: 2px solid rgb(84, 9, 119);
    margin-left: 500px;
    margin-right: 500px;
    background-color: rgb(48, 170, 201);
    color: rgb(204, 69, 193);
    text-shadow: 2px 2px rgb(0, 0, 0);
    box-shadow: 2px 2px black;
}
#przedmiot, #rok, #prowadzacy{
    margin-top: 40px;
}

#imie{
    margin-top: 300px;
}

@media screen and (max-width: 800px) {
    h1 {
      margin-left: 100px;
      margin-right: 100px;
    }
  }

@media screen and (max-width: 380px) {
    h1 {
      margin-left: 0px;
      margin-right: 0px;
    }
  }