body{
 background-image: linear-gradient(20deg, #ffc31a 0, #ffb42b 8.33%, #ffa338 16.67%, #ff9143 25%, #ff7d4b 33.33%, #ff6851 41.67%, #f25353 50%, #d94053 58.33%, #c23054 66.67%, #ae2455 75%, #9d1c56 83.33%, #8e1859 91.67%, #81195d 100%);
}
* {
    box-sizing: border-box;
}

.display {
    background-color: #ddd;
    font-size: 2.5rem;
    padding: 0.25em;
    text-align: right;
    border-radius: 8px;
}

.btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.25rem;
}

.btn,
.clear {
    font-size: 2.25rem;
    padding: 0.5em 1em;
    cursor: pointer;
}
.clear {
    grid-column: 1 / -1;
}
